@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    overflow-X: hidden;
    font-family: 'Poppins', sans-serif;
}

.img-fluid{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid;
    object-fit: cover;
}


.img-gallery{
    width: 1400px;
    margin: 20px auto;
    columns: 4;
    column-gap: 10px;
}

@media (max-width:991px) {
    .img-gallery{
        columns: 3;
    }
}
@media (max-width:660px) {
    .img-gallery{
        columns: 2;
    }
}
@media (max-width:440px) {
    .img-gallery{
        columns: 1;
    }
}